
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <h2>About Med Base</h2>
      <p>We provide a medical record solution that helps patient and doctors access medical records with ease and practicality.</p> 
      <p>When you choose Med Base, we ensure that every aspect of your data is kept safely, whilst also providing the level of profeionalism that helps your doctor make better decision making for yoour health.</p>
    
    </div>

    <div class="col-sm-2">
       <span class="glyphicon glyphicon-plus logo" ></span> 
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-3">
      <span class="glyphicon glyphicon-globe logo"></span> 
    </div>
    <div class="col-sm-9">
      <h2>Our Values</h2>
      <h4><strong>MISSION:</strong> <br>
      - One stop medical record database management <br>
      - Independent and trusted Medical database provider<br>
      - Make your medical records portable<br>
      - Always working on your best interest<br>
      </h4> 
      <p><strong>VISION:</strong> Our vision </p>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off"></span>
      <h4>Private Healthcare Management</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart"></span>
      <h4>LOVE</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock"></span>
      <h4>Health</h4>
      <p></p>
    </div>
    </div>
    <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf"></span>
      <h4>GREEN</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate"></span>
      <h4>CERTIFIED</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench"></span>
      <h4>HARD WORK</h4>
      <p></p>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
    <br><br>
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Malaysia</p>
      <p><span class="glyphicon glyphicon-phone"></span> +016 0000000</p>
      <p><span class="glyphicon glyphicon-envelope"></span> medrec@rec.com</p> 
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-7 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-7 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="col-sm-7 form-group">
            <input class="form-control" id="comment" name="comment" placeholder="Comment" type="comment" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div> 
    </div>
  </div>
</div>
