<div class="container">
<center>
  <div class="jumbotron">
    <h1>Med REC</h1> 
    <p>Managing Your Health And Your Loved ONE</p> 

  </div>
</center>

    <%= render partial: '/sessions/form' %>

</div>
