<div class ="container"> 
<div class="form-horizontal">
<%= form_for @medicalrecord, url: doctor_medical_records_path do |form| %>

  
   <div class="form-group">
  <label for="inputMR">Medical Condition</label>
  <select class="form-control" id="medicalcondition-select">
    <option>Test</option>
    <option>Testing</option>
    <option>Have to do testahead</option>
  </select>
  </div>

  <div class="form-group">
  <label for="inputMR">Medical Category</label>
  <select class="form-control" id="medicalcategory-select">
    <option>Neurology</option>
    <option>Orthopaedics</option>
    <option>Cancer</option>
    <option>Paediatrics</option>
    <option>Ear, Nose and Throat</option>
    <option>Ophthalmology</option>
    <option>Cardiovascular</option>
    <option>Endocrinology</option>
    <option>Renal Disorders</option>
    <option>Respiratory Disorders</option>
    <option>Gastroenterology</option>
    <option>Urinary & Reproductive System</option>
    <option>Obstetrics & Gynaecology</option>
    <option>Oral and Maxillofacial</option>
    <option>Dermatology</option>
    <option>Geriatic Disorders</option>
    <option>Haematology</option>
    <option>Psychiatry</option>
    <option>Infectious Diseases</option>
    <option>Rheumatology</option>
    </select>
  </div>


  </div>

<% end %>
</div>
</div>