<!-- Page Content -->
<div class="container">
	<div class="col-md-8 col-md-offset-2">
	<br>
		<p class="lead"><strong> Recent Appointments </strong></p>
		<div class="list-group">
			<a href="#" class="list-group-item">Appointment - 	05/01/2017</a>
			<a href="#" class="list-group-item">Appointment - 	30/12/2016</a>
			<a href="#" class="list-group-item">Check Up - 		20/12/2016 </a>
			<a href="#" class="list-group-item">Appointment - 	05/11/2016</a>
			<a href="#" class="list-group-item">Appointment - 	30/11/2016</a>
			<a href="#" class="list-group-item">Check Up - 		20/10/2016 </a>
			<a href="#" class="list-group-item">Appointment - 	05/09/2016</a>
			<a href="#" class="list-group-item">Appointment - 	30/09/2016</a>
			<a href="#" class="list-group-item">Check Up - 		20/08/2016 </a>
			<a href="#" class="list-group-item">Appointment - 05/06/2015</a>
			<a href="#" class="list-group-item">Appointment - 30/06/2015</a>
			<a href="#" class="list-group-item">Check Up - 20/05/2015 </a>
		</div>
	</div>
</div>