<center>
<div class="container">
	<div class="jumbotron">
		<h1>Med REC</h1>
		<p>Managing Your Health And Your Loved ONE</p>
	</div>
	<h1> Need to manage your Health? </h1>
	<h2><p> <span class="glyphicon glyphicon-user"></span>Sign up as<a href="<%= new_patient_path %>"> Patient</a></p></h2>
	<hr>
	<h1> Helping Patients?</h1>
	<h2><p><i class="fa fa-ambulance" aria-hidden="true"></i>Sign up as<a href="<%= new_doctor_path %>"> Doctor</a></p></h2>
</div>


</center>

