<center>
	<div class="container">
		<div class="jumbotron">
			<h1>Med Base</h1>
			<p>Managing Your Health</p>
	</div>
	<h3>
		<p>
			<span class="glyphicon glyphicon-user"></span><br>
			<a href="<%= new_patient_path %>">Sign up - Patients</a>
		</p>
	</h3>
	<br>

	<h3>
		<p>
			<i class="fa fa-ambulance" aria-hidden="true"></i>
			<br>
			<a href="<%= new_doctor_path %>">Sign up - Doctors</a>
		</p>
	</h3>
</div>


</center>